{% extends 'base.html' %}

{% block title%} Crud app {% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: blue; font-size: 32px; font-weight: bold;">My App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            
            <a class="nav-link active" aria-current="page" href="{{ url_for('RetrieveList') }}" style="font-weight: bold; color: blue;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('create') }}" style="color: blue; font-weight: bold;">Create Student</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}